.Burger {
    width : 100%;
    margin: 100px;
    height: 250px;
    /* overflow: scroll; */
    text-align:center;
    font-weight: bold;
    font-size:1.2rem;

}


@media ( min-width: 500px) and (min-height: 400px){
    .Burger{
        width: 600px;
        height: 500px;

    }

}