.Burger {
    width : 10%;
    margin: 100px;
    height: 250px;
    /* overflow: scroll; */
    text-align:center;
    font-weight: bold;
    font-size:1.2rem;
    left: 10%;

}


@media ( min-width: 500px) and (min-height: 400px){
    .Burger{
        width: 600px;
        height: 500px;
        position: relative;
        left: 30%;
       
    }

}